extends layout

block content

  h1= title
  <img src="https://www.pokeflix.tv/static/thumbnails/02-orange-islands/32.png">
  p Welcome to #{title}
  p Hi im shomi, and I'm trying to embed an Apple Music playlist using an iframe.
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/numb-live/1311903635?i=1311904420"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/hey-darlin-solanca-remix/1582056652?i=1582056653"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/akh-lad-jaave-from-loveyatri/1431719187?i=1431719198"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/forgive-me/1494006921?i=1494006922"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/counting/1443426863?i=1443426873"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/hallelujah/192677178?i=192678693"></iframe>
  p Ok, I successfully displayed 6 individual songs from my iTunes. I just right-clicked on each song, and copied the embed code into an iframe.
  p Interesting to note, generating an express server from command line was pretty badass. We need to remember these commands by heart. 
  p --> <strong>npm install express-generator -g</strong>
  p Ok, playing Rufus du Sol to level with my anxiety for 45 minutes in their live performance at Joshua Tree was epic. We can begin the <i>playlist</i> that way. 
  
  p Next, we cool it off with some Tycho. 
  p This can be my own Mood Park - rva. 
  p I need to hear a new sound. Also, it's interesting that I'm starting off the same way that Zuckerburg did. on a blog. 
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/alive/1573952131?i=1573952132"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/next-to-me/1585865534?i=1585865535"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/dune-original-motion-picture-soundtrack/1583651332"></iframe>
  p Except my blog is so much cooler ...
  p Just look at the kind of beats I'm posting ...
  p <strong>  --> Look closely at everything. Envision greatness. One second, I scan through an indian girl's NY Fashion Week (NYFW) video story on Instagram. Immediately, I know I will walk in or host my own New York Fashion Week event, before age 30.</strong>
  p There was footage of a skateboarder dancing a fool with his skateboard in hand, reminiscent of my best self. 
  p <strong> --> It is now that I realize, every move I make is important.</strong>
  p The date and time are Friday September 24, 2021. The time is 2:29 AM.
  p 2:30 by the time I finished typing this out.
  p Yesterday, I started this blog. This will be an easy way to get my commits up. And keep my garden green.
  p Green gardens on github earn employers interest. 
  p I am on my way to becoming a web developer.
  p Typing out lines of code, even if it's as simple as writing a new p tag to indicate I am writing another paragraph. 
  p It's all code. It's just HTML this time. 
  p I can try adding some JavaScript. Or before I do that, I may actually implement some CSS. 
  p <strong> --> Idea: It would be nice to organize each of the 6 individual songs, in a carousel. </strong>
  