extends layout

block content

  h1= title
  <iframe src="https://assets.pinterest.com/ext/embed.html?id=144044888071992033" height="714" width="345" frameborder="0" scrolling="no" ></iframe>
  <iframe src="https://assets.pinterest.com/ext/embed.html?id=14214555063853499" height="790" width="345" frameborder="0" scrolling="no" ></iframe>
  <iframe src="https://assets.pinterest.com/ext/embed.html?id=643662971751010838" height="445" width="345" frameborder="0" scrolling="no" ></iframe>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/JqTGXohSEfE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <img src="https://townsquare.media/site/838/files/2017/10/polica-pioneerworks-01.jpg" height=700>
  <iframe width="2000" height="1000" src="https://www.youtube.com/embed/2Ekf_TcW_GE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Airdrop for Whitelist is out! 👀 check it out guys 🥳🥰💜</p>&mdash; Vudu Brigada (@VuduBrigada) <a href="https://twitter.com/VuduBrigada/status/1457062677709271052?ref_src=twsrc%5Etfw">November 6, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <img src="https://i.pinimg.com/originals/65/72/80/657280de19b62a93a10d23461cc3d062.jpg">
  <img src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/15/35/hbz-claudia-schiffer-1990-chanel-gettyimages-517290823.jpg" height=700>
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/claudia-schiffer-modeling-chanel-couture-news-photo-1598277998.jpg">
  //- <img src="/Users/minhajkhan/Desktop/music-to-my-ears/images/claudia-schiffer.png">
  <img src="views/claudia-schiffer.png">
  <img src="/Users/minhajkhan/Desktop/music-to-my-ears/views/images/claudia-schiffer-modeling-chanel-couture-news-photo-1591200252.jpeg">
  p atmospheric db
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">the feminine urge to have three drinks at all times (one for enjoyment, one for energy, and one for hydration)</p>&mdash; ♡ gen *:･ﾟ✧ (@raremoth) <a href="https://twitter.com/raremoth/status/1456595673055318021?ref_src=twsrc%5Etfw">November 5, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1743605104/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=2638661763/transparent=true/" seamless><a href="https://cause4concern.bandcamp.com/album/nothing-changes-e-p">Nothing Changes E.P. by Abstract Drumz &amp; Peeb</a></iframe>
  <iframe width="598" height="336" src="https://www.youtube.com/embed/iOf4_4_yuok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="598" height="336" src="https://www.youtube.com/embed/tLMZ-yI3O-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="598" height="336" src="https://www.youtube.com/embed/Ls1SB3CbJ6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3924035381/size=large/bgcol=ffffff/linkcol=f171a2/tracklist=false/transparent=true/" seamless><a href="https://rafxls.bandcamp.com/album/handpicked-strange-tracks-vol-2">Handpicked Strange Tracks Vol. 2 by Rafxls</a></iframe>
  <iframe width="827" height="465" src="https://www.youtube.com/embed/H_9hnGkVd88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  //- <img src="/Users/minhajkhan/Desktop/sonam.jpeg" alt="nope">
  <img src="https://www.pokeflix.tv/static/thumbnails/02-orange-islands/32.png">
  <img src="https://www.christies.com/img/LotImages/2020/HGK/2020_HGK_16896_0520_000(takashi_murakami_a_panda_family_against_the_blue_sky041529).jpg?w=780">
  <img src="https://d16kd6gzalkogb.cloudfront.net/__sized__/magazine_images/Takashi-Murakami-artwork-thumbnail_webp-9999x9999.webp">
  p Welcome to #{title}
  p Hi im shomi, and I'm trying to embed an Apple Music playlist using an iframe.
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/numb-live/1311903635?i=1311904420"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/hey-darlin-solanca-remix/1582056652?i=1582056653"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/akh-lad-jaave-from-loveyatri/1431719187?i=1431719198"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/forgive-me/1494006921?i=1494006922"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/counting/1443426863?i=1443426873"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/hallelujah/192677178?i=192678693"></iframe>
  p Ok, I successfully displayed 6 individual songs from my iTunes. I just right-clicked on each song, and copied the embed code into an iframe.
  p Interesting to note, generating an express server from command line was pretty badass. We need to remember these commands by heart. 
  p --> <strong>npm install express-generator -g</strong>
  p Ok, playing Rufus du Sol to level with my anxiety for 45 minutes in their live performance at Joshua Tree was epic. We can begin the <i>playlist</i> that way. 
  
  p Next, we cool it off with some Tycho. 
  p This can be my own Mood Park - rva. 
  p I need to hear a new sound. Also, it's interesting that I'm starting off the same way that Zuckerburg did. on a blog. 
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/alive/1573952131?i=1573952132"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/next-to-me/1585865534?i=1585865535"></iframe>
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/dune-original-motion-picture-soundtrack/1583651332"></iframe>
  p Except my blog is so much cooler ...
  p Just look at the kind of beats I'm posting ...
  p <strong>  --> Look closely at everything. Envision greatness. One second, I scan through an indian girl's NY Fashion Week (NYFW) video story on Instagram. Immediately, I know I will walk in or host my own New York Fashion Week event, before age 30.</strong>
  p There was footage of a skateboarder dancing a fool with his skateboard in hand, reminiscent of my best self. 
  p <strong> --> It is now that I realize, every move I make is important.</strong>
  p The date and time are Friday September 24, 2021. The time is 2:29 AM.
  p 2:30 by the time I finished typing this out.
  p Yesterday, I started this blog. This will be an easy way to get my commits up. And keep my garden green.
  p Green gardens on github earn employers interest. 
  p I am on my way to becoming a web developer.
  p Typing out lines of code, even if it's as simple as writing a new p tag to indicate I am writing another paragraph. 
  p It's all code. It's just HTML this time. 
  p I can try adding some JavaScript. Or before I do that, I may actually implement some CSS. 
  p <strong> --> Idea: It would be nice to organize each of the 6 individual songs, in a carousel. </strong>
  